<!doctype html>
<html class="no-js" lang="">
  <head>
    <base href="/" />
    <!-- fixes nested HMR issue -->
    <!-- https://github.com/gaearon/react-hot-loader/issues/620 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <meta name="description" content="">

    <title><%= config.title %></title>

    <link rel="manifest" href="/manifest.webmanifest">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SomeBoilerplate">
    <link rel="apple-touch-icon" href="icon-152x152.png">
    <meta name="msapplication-TileImage" content="icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
  </head>
  <body>
    <div id="root"></div>
    <script src="<%= bundle %>"></script>
  </body>
</html>
